<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ua.tanhost.camera_scan.camera_scan">
    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:requestLegacyExternalStorage="true"
            android:allowBackup="true"
            android:largeHeap="true"
            android:hardwareAccelerated="true">
        <activity
                android:name="ua.tanhost.camera_scan.camera_scan.scanlibrary.ScanActivity"
                android:configChanges="orientation|screenSize"
                android:label="camera_scan_example" >
        </activity>
    </application>
</manifest>
